<<<<<<< HEAD
<div class = "container">
<h1>Log In</h1>
=======
<section class="container">
	<h1>Log In</h1>
>>>>>>> fb8a93d2af948cded04690272b89aa32cbc708d4

	<form action="/session" method="POST">
		<label>
			Username: 
		<input name="username" required>
		</label>

		<label>
			Password: 
			<input type="password" name="password" required>
		</label>

		<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token() %>"/>

		<input type="submit">

<<<<<<< HEAD
</form>
</div>
<div id = "block">

	<p>.</p>

</div>
=======
	</form>
</section>
>>>>>>> fb8a93d2af948cded04690272b89aa32cbc708d4
