<div class="container about-list">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#" id="about">About</a></li>
    <li role="presentation" ><a href="#" id="faq">FAQ</a></li>
    <li role="presentation"><a href="#" id="testimonials">Testimonials</a></li>
  </ul>

  <div class="about details active">
    <p>Delicious Date Night &#0153; is an innovative new website designed to bring together couples with similar interests and hobbies. With our intuitive interface as a guide, you and your significant other will be on your way to creating fun and meaningful friendships in less time than it takes to order takeout. Our fun events include everything from ice skating to karakoke to bingo nights with the gals.</p> 

    <p>For the first fifty couples to sign up we are giving out vouchers to a rangers game plus 50% off hot pretzels for everyone!</p>

    <p>Join today and discover for yourself how new friends can add to your relationship, no matter what stage of life you are in.</br></p> 
    <a  href="couples/new"><h3>Go on a Delicious Date!</h3></a>

  </div>

  <div class="faq details">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Who can join Delicious Date Night &#0153;?</h3>
      </div>
      <div class="panel-body">
        Everybody! We welcome couples of all ages, types and genders. The wide range of couples on our site makes for an exciting adventure each time you go on a Delicious Date. We do ask that you sign up for Delicious Date Night&#0153; togther with your partner to ensure an even number of people on your date. Remember, three's a crowd but four's a partay! (disclaimer: minors under 18 years of age must be chaperoned by an adult)
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">How does Delicious Date Night&#0153; work?</h3>
      </div>
      <div class="panel-body">
       It's easy! When you sign up for Delicious Date Night&#0153; you are given access to a list of other user couples, as well as creative and fun ideas for date nights. You can choose any couple from the list and ask them out on a date. To create your itinerary, choose from a wide variety of drinks, activities, and foods to plan the perfect double date.
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">What sorts of activities make up a Delicious Date? </h3>
      </div>
      <div class="panel-body">
        Lots! Our events coordinators are constantly adding new events to our selection. User feedback is taken heavily into account and we are always open to hearing your suggestions for new activitues, foods or drinks. At Delicious Date Night&#0153; we aim to please every personality and palate.  
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Is there a charge to sign up for the site?</h3>
      </div>
      <div class="panel-body">
        No! Registration is absolutely free and you are never charged a fee for using the site.
      </div>
    </div>
  </div>

  <div class="testimonials details">
    <p> "My husband and I were so excited when we heard about this new double dating website. We're new in the area and were having a hard time meeting other couples to hang out with. Delicious Date Night solved that problem by opening up a world of social opportunities that we never would have found on our own. We discovered great neighborhood gems from our dating partners and have made new friends for life. Thank you Delicious Date Night!!"
      - Jenny and Jim, NYC</p>
    </br>


    <p> "As an couple in our eighties, my wife and I had given up on the idea of making new friends. Where would we find new friends at our age? Our grandson told us about Delicious Date Night. Being computer savvy, my wife signed us up and the next week we met our new friends Betsy and Wilma. This website is just wonderful and we'll be telling everyone in our retirement village about it."
      -Marge and Wilson, NYC</p>  
    </br>
    
    <p>"This website ROCKS!! My bf and I were looking for other cool couples in the area to play paintball with. We found Mike and Mindy and we've done paintball with them like 3 times already. It was awesome!! And so are Mindy and Mike!!! And so is delicious date night!!!!"
      -Shannon and Brendan, Seattle</p>  
  </div>

</div>