<div class="container about-list">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#" id="about">About</a></li>
    <li role="presentation" ><a href="#" id="faq">FAQ</a></li>
    <li role="presentation"><a href="#" id="testimonials">Testimonials</a></li>
  </ul>

  <div class="about details active">
    <p>About stuff here</p>
  </div>

  <div class="faq details">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>

  <div class="testimonials details">
    <p>Testimonials stuff here</p>
  </div>

</div>