	<div class = "wrapper">
<section class="jumbotron">
	<div class="container">
		<h1 class="title">Delicious Date Night</h1>
		<p><a class="btn btn-primary btn-md" href="<%= new_couple_path %>" role="button">Signup</a></p>
	</div>
</section>
	</div>

<section class="container">
	<div id = "statement">
	<h3>Date Night Will Never Be The Same!</h3>
	</div>
</section>