<section class="jumbotron">
	<div class="container">
		<h1 class="title">Delicious Date Night</h1>
		<p><a class="btn btn-primary btn-md" href="<%= new_couple_path %>" role="button">Signup</a></p>
	</div>
</section>

<section class="container">
	<h3>Some stuff about why you should fux with this site</h3>
</section>