<h1>Create a Date</h1>

<%= form_for @date_night, url: {action: "create"} do |date_night_form|%>

<% if @couple %>
<input type="text" name="couple" value="<%= @couple.a_fname %> and <%= @couple.b_fname %>" >

<%  %>
<%  %>

<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token() %>"/>


<% end %>





<%  %>
