<div class="container">
		<h1>Enter your information below to signup!</h1>
	<!-- TOP LEVEL COUPLE INFO -->
	<form method="POST" action="/couples" enctype="multipart/form-data">
		<section>
			<div class="row" style="float: left;">
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			    	<img src="https://secure5.nm-secure.com/sr/images/user_placeholder.png" alt="...">
			    	<div class="caption">
			 		<label for="avatar">
						<input type="file" name="avatar" required/>
					</label>
			        <!-- <h3>Thumbnail label</h3>
			        <p>...</p> -->
			      </div>
			    </div>
			  </div>
			</div>

			<label for="couple-username">
				Couple Username:
				<input id="couple-username" name="username" type="text" class="form-control" required/>
			</label>
				
			<label for="couple-password">
				Couple Password:
				<input id="couple-password" name="password" type="password" class="form-control" required />
			</label>

			<label for="couple-city">
				City:
				<input id="couple-city" name="city" type="text" class="form-control" required />
			</label>

			<label>
				Couple Description
				<textarea name="description" placeholder="(Describe yourselves in 140 Characters or less)" class="clear form-control" style="resize:none;" required></textarea>

			</label>
		</section>

		<br><br><br><br>

		
		<section id="couple-info">
			<!-- Boo 1 info -->
				<div>
					<label for="boo1-first-name">
						Dater 1:
						<input placeholder="first name" id="boo1-first-name" name="a_fname" type="text" class="form-control" required/>
					</label>
					<label>
						<input placeholder="last name" name="a_lname" type="text" class="form-control" required/>
					</label>
					<!-- <label>
						<input placeholder="age" name="boo1-age" type="text" class="form-control" />
					</label> -->
					<!-- <label>
						<input placeholder="gender" name="boo1-gender" type="text" class="form-control" />
					</label> -->
					<label>
						<input placeholder="email" name="a_email" type="text" class="form-control"required />
					</label>

					<div>
						<label for="gender">
							<input id="gender" name="a_gender" type="text" placeholder="gender" class="clear form-control" required />
						</label>
						<label for="gender">
							<input id="gender" name="a_age" type="text" placeholder="age" class="clear form-control" required />
						</label>
					</div>
				</div>
			
		<br><br>

			<!-- Boo 2 info -->
				<div>
					<label>
						Dater 2:
						<input placeholder="first name" name="b_fname" type="text" class="form-control" required />
					</label>
					<label>
						<input placeholder="last name" name="b_lname" type="text" class="form-control" required />
					</label>
					<!-- <label>
						<input placeholder="age" name="boo2-age" type="text" class="form-control" />
					</label> -->
					<!-- <label>
						<input placeholder="gender" name="boo2-gender" type="text" class="form-control" />
					</label> -->
					<label>
						<input placeholder="email" name="b_email" type="text" class="form-control" required />
					</label>
					<div>
						<label for="gender">
							<input id="gender" name="b_gender" type="text" placeholder="gender" class="clear form-control" required />
						</label>
						<label for="gender">
							<input id="gender" name="b_age" type="text" placeholder="age" class="clear form-control" required />
						</label>
					</div>
				</div>

				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token() %>">
				<input type="submit" class="btn btn-primary" />
		</section>
	</form>

	<br><br><br><br><br><br><br>
</div>